@font-face {
  font-family: 'VL-Gothic';
  src: url('/fonts/VL-Gothic-Regular.woff');
}

body {
  margin: 0;
  padding: 0;
  background: url("img/inajaran-falls-scenery-in-guam.jpg");
  background-size: cover;
  font-family: 'VL-Gothic', monospace;
}

#blurback, #solidback {
  margin: 0 auto;
}

#blurback {
  backdrop-filter: blur(4px);
  max-width: 110ch;
}

#solidback {
  max-width: 80ch;
  padding: 1ch 4ch;
  background-color: #464d;
}

hr {
  border: 1px solid #222;
}

