@font-face {
  font-family: 'VL-Gothic';
  src: url('/fonts/VL-Gothic-Regular.woff');
}

body {
  margin: 0;
  padding: 0;
  background: fixed url("img/inajaran-falls-scenery-in-guam.jpg");
  background-size: cover;
  font-family: 'VL-Gothic', monospace;
  color: black;
}

#blurback, #solidback {
  margin: 0 auto;
}

#blurback {
  backdrop-filter: blur(4px);
  max-width: 100ch;
}

#solidback {
  max-width: 60ch;
  padding: 1ch 8ch;
  background-color: #464d;
}

hr {
  border: 1px solid #222d;
}

.quotation {
  padding-left: 4ch;
  border-left: 1px solid #222d;
  font-style: italic;
}

pre {
  background-color: #121;
  padding: 4ch;
  margin: 1ch 8ch;
  color: #ddf;
}

a {
  color: #121;
}

